environments:
  default: {}
---

releases:
  - name: volumes
    chart: charts/apps/volumes
    namespace: prod
  - name: audiobookshelf
    chart: charts/apps/audiobookshelf
    namespace: prod
  - name: baikal
    chart: charts/apps/baikal
    namespace: prod
  - name: bytestash
    chart: charts/apps/bytestash
    namespace: prod
  - name: calibre-web
    chart: charts/apps/calibre-web
    namespace: prod
  - name: coder
    chart: charts/apps/coder
    namespace: prod
  - name: data
    chart: charts/apps/data
    namespace: prod
  - name: esphome
    chart: charts/apps/esphome
    namespace: prod
  - name: gitea
    chart: charts/apps/gitea
    namespace: prod
  - name: homarr
    chart: charts/apps/homarr
    namespace: prod
  - name: home-assistant
    chart: charts/apps/home-assistant
    namespace: prod
  - name: jellyfin
    chart: charts/apps/jellyfin
    namespace: prod
  - name: linkwarden
    chart: charts/apps/linkwarden
    namespace: prod
  - name: mealie
    chart: charts/apps/mealie
    namespace: prod
  - name: metamcp
    chart: charts/apps/metamcp
    namespace: prod
  - name: miniflux
    chart: charts/apps/miniflux
    namespace: prod
  - name: mqtt
    chart: charts/apps/mqtt
    namespace: prod
  - name: music-assistant
    chart: charts/apps/music-assistant
    namespace: prod
  - name: n8n
    chart: charts/apps/n8n
    namespace: prod
  - name: nocodb
    chart: charts/apps/nocodb
    namespace: prod
  - name: ollama
    chart: charts/apps/ollama
    namespace: prod
  - name: openwebui
    chart: charts/apps/openwebui
    namespace: prod
  - name: photoprism
    chart: charts/apps/photoprism
    namespace: prod
  - name: readeck
    chart: charts/apps/readeck
    namespace: prod
  - name: signal
    chart: charts/apps/signal
    namespace: prod
  - name: zot
    chart: charts/apps/zot
    namespace: prod
