apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: '{{ .Release.Name }}-loki'
spec:
  interval: 1h
  url: https://grafana.github.io/helm-charts

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: '{{ .Release.Name }}-loki'
spec:
  chart:
    spec:
      chart: loki
      reconcileStrategy: ChartVersion
      sourceRef:
        apiVersion: source.toolkit.fluxcd.io/v1
        kind: HelmRepository
        name: '{{ .Release.Name }}-loki'
        namespace: '{{ .Release.Namespace }}'
  interval: 1h
  values:
    deploymentMode: SingleBinary
    loki:
      auth_enabled: false
      server:
        http_listen_port: 3100

      # memberlist:
      #   join_members:
      #     - loki-memberlist

      schemaConfig:
        configs:
          - from: 2020-05-15
            store: tsdb
            object_store: filesystem
            schema: v13
            index:
              prefix: index_
              period: 24h

      storage:
        type: filesystem

      storage_config:
        filesystem:
          directory: /loki/chunks

      limits_config:
        reject_old_samples: true
        reject_old_samples_max_age: 168h
        max_cache_freshness_per_query: 10m
        split_queries_by_interval: 15m
        volume_enabled: true

      common:
        path_prefix: /loki
        storage:
          filesystem:
            chunks_directory: /loki/chunks
            rules_directory: /loki/rules
        replication_factor: 1
        ring:
          instance_addr: 127.0.0.1
          kvstore:
            store: inmemory

    # Enable persistent storage
    singleBinary:
      persistence:
        enabled: true
        size: 10Gi
        storageClass: '{{ .Values.globals.environment }}' # Uses default storage class
      extraVolumeMounts:
        - name: storage
          mountPath: /loki

    backend:
      replicas: 0
    read:
      replicas: 0
    write:
      replicas: 0

    ingester:
      replicas: 0
    querier:
      replicas: 0
    queryFrontend:
      replicas: 0
    queryScheduler:
      replicas: 0
    distributor:
      replicas: 0
    compactor:
      replicas: 0
    indexGateway:
      replicas: 0
    bloomCompactor:
      replicas: 0
    bloomGateway:
      replicas: 0
    promtail:
      enabled: true
      config:
        snippets:
          extraScrapeConfigs: |
            - job_name: kubernetes-pods
              kubernetes_sd_configs:
                - role: pod
              relabel_configs:
                - source_labels: ["__meta_kubernetes_pod_container_name"]
                  target_label: "container"
                - source_labels: ["__meta_kubernetes_pod_name"]
                  target_label: "pod"
                - source_labels: ["__meta_kubernetes_pod_namespace"]
                  target_label: "namespace"
