apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}"
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .Release.Name }}"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}"
    spec:
      containers:
        - name: "{{ .Release.Name }}"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
            - name: ssh
              containerPort: 22
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            tcpSocket:
              port: http
          volumeMounts:
            - mountPath: /data
              name: data
          env:
            - name: TZ
              value: "{{ .Values.globals.timezone }}"
            - name: USER_UID
              value: "1000"
            - name: USER_GID
              value: "1000"
            - name: GITEA__server__SSH_DOMAIN
              value: ssh-gitea.olsen.cloud
            - name: GITEA__server__SSH_PORT
              value: "2205"
            - name: GITEA__service__REQUIRE_EXTERNAL_REGISTRATION_PASSWORD
              value: "true"
            #- name: GITEA__service__ENABLE_BASIC_AUTHENTICATION
            #  value: 'true'
            - name: GITEA__service__ENABLE_PASSWORD_SIGNIN_FORM
              value: "false"
            - name: GITEA__service__DEFAULT_KEEP_EMAIL_PRIVATE
              value: "true"
            - name: GITEA__service__DEFAULT_USER_IS_RESTRICTED
              value: "true"
            - name: GITEA__service__DEFAULT_USER_VISIBILITY
              value: "private"
            - name: GITEA__service__DEFAULT_ORG_VISIBILITY
              value: "private"
            - name: GITEA__service__ALLOW_ONLY_EXTERNAL_REGISTRATION
              value: "true"
            - name: GITEA__other__SHOW_FOOTER_POWERED_BY
              value: "false"
            - name: GITEA__other__SHOW_FOOTER_TEMPLATE_LOAD_TIME
              value: "false"
            - name: GITEA__other__SHOW_FOOTER_VERSION
              value: "false"
            - name: GITEA__repository__ENABLE_PUSH_CREATE_USER
              value: "true"
            - name: GITEA__repository__ENABLE_PUSH_CREATE_ORG
              value: "true"
            - name: GITEA__openid__ENABLE_OPENID_SIGNIN
              value: "false"
            - name: GITEA__openid__ENABLE_OPENID_SIGNUP
              value: "false"
            - name: GITEA__database__DB_TYPE
              value: postgres
            - name: GITEA__database__NAME
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-pg-connection"
                  key: database
            - name: GITEA__database__HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-pg-connection"
                  key: host
            - name: GITEA__database__USER
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-pg-connection"
                  key: user
            - name: GITEA__database__PASSWD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-pg-connection"
                  key: password
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: "{{ .Release.Name }}-data"
